.uni_dash_header{
    box-shadow: rgba(0,0,0,0.1) 0px 0px 10px 5px;
    border-radius: 5px;
    height: 70px;
    margin-left: 5px;
    padding-left: 60px;
    padding-right: 30px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
}

/* .uni_dash_header_search{
    background-color: #F5F6FA;
    gap: 10px;
    height: 38px;
    border-radius: 19px;
    padding: 0px 10px;
    width: 388px;
    border: 1px solid #D5D5D5;
}

.uni_dash_header_search i{
    color: #7b7b7d;
    font: 15px;
}

.uni_dash_header_search input{
    width: 100%;
    border: none;
    background-color: #F5F6FA;
    font-size: 14px;
    font-weight: 400;
}

.uni_dash_header_search input:focus{
    outline: none;
} */

.uni_dash_header_right{
    gap: 20px;
}

.uni_dash_header_right_left{
    gap: 10px;
}


.uni_dash_header_bell img{
    height: 25px;
    margin-top: 5px;
}

.uni_dash_header_noti{
    background-color: #F93C65;
    height: 16px;
    transform: translateX(-10px);
    border-radius: 10px;
    min-width: 16px;
}

.uni_dash_header_noti p{
   font-size: 12px;
   font-weight: 500;
   color: #fff;
   padding: 5px;
}

.uni_dash_header_lang{
    gap: 5px;
}

.uni_dash_header_lang p,.uni_dash_header_lang i{
    font-size: 14px;
    color: #646464;
    font-weight: 500;
}

.uni_dash_header_lang i{
    cursor: pointer;
}

.uni_dash_header_right_right{
    gap: 10px;
}

.uni_dash_header_dp{
    width: 44px;
    height: 44px;
    border-radius: 22px;
    overflow: hidden;
}

.uni_dash_header_dp img{
    width: 100%;    
}

.uni_dash_header_name{
    color: #565656;
}

.uni_dash_header_dropdown{
    cursor: pointer;
   color: #565656;
   height: 18px;
   width: 18px;
   border-radius: 9px;
   border: 1px solid #5C5C5C;
   margin-left: 20px;
}

.uni_dash_header_dropdown i{
    transform: translateY(1px);
}

