.sidebar_main{
    box-shadow: rgba(0,0,0,0.1) 0px 0px 10px 5px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 500;
    background-color: #fff;
}

.sidebar_logo{
   width: 100%;
   margin-bottom: 50px;
}

.sidebar_arrow{
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 0;
    border: 1px solid gray;
    background-color: #fff;
    border-radius: 10px;
}

.sidebar_arrow i{
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}

.sidebar_option{
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    height: 50px;
    margin: 5px;
    color: #000000;
    padding: 3px;
    border-radius: 5px;
}

.sidebar_option:hover {
    color: #000000; /* Ensuring hover color stays black */
}

.sidebar_option i{
    margin: 0;
    font-size: 26px;
}

.sidebar_option p{
    font-size: 18px;
    font-weight: 400;
}

.sidebar_option.active{
    background-color: #1d5ef5;
    color: #fff;
}

.sidebar_option.active:hover {
    color: #ffffff; /* Ensuring active hover color stays white */
}




