.profile_details{
    padding: 0px 40px;
}

.profile_img {
    background-color: #fff;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform: translateY(-30%);
}

.profile_img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}



@media (max-width: 768px){
    .profile_details{
        padding: 0px 10px;
    }
    
    .profile_img {
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
    
    .profile_img img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}