.login_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* Right Side Styling */
.login_form_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}


.login_form_element{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login_form_element label {
    font-size: 16px;
    font-weight: 500;
}

.login_form_element input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: #EDF4FA;
    padding: 5px;
}

.login_form_element input:focus{
    outline: none;
}

.login_form_bttn{
    width: 80%;
}

.login_form_bttn button{
    background-color: #f16d5b;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    position: relative;
}


.login__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.login__form h2{
    color: aliceblue;
    text-align: center;
    margin-bottom: 1rem;
}

.login__form input{
    width:100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}

.login__form input:focus{
    outline: none;
}

.auth__btn{
    width: 100%;
    background: var(--heading-color) !important ;
    color: #fff !important;
}

.login__form p{
    font-size: 0.9rem;
    color: #fff;
    margin-top: 1.5rem;
    text-align: center;

}

.login__form p a{
    color: var(--heading-color);
    text-decoration: none;
    margin-left: 5px;
    font-weight: 500;
}



/* Responsive Design */
@media (max-width: 768px) { 
    .login_main {
        grid-template-columns: 1fr; 
    }

    .login_right {
        padding: 20px;
    }
    
    .login_form_title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    .login_form_element {
        width: 100%;
    }

    .login_form_container{
        display: flex;
        flex-wrap: wrap;
    }

    .login_form_element label, .login_form_element_2 label {
        font-size: 14px;
    }

}

/* Screen size > 768px and <= 1200px (tablets/small-laptops) */
@media (min-width: 769px) and (max-width: 1200px) {
    .login_main {
        grid-template-columns: 1fr; 
    }
}