.profile_title_img{
    width: 100%;
    height: 300px;
}

.profile_title_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_details{
    padding: 0px 40px;
}

.profile_img {
    background-color: #fff;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform: translateY(-50%);
}

.profile_img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile_phone_email{
    color: var(--text-color);
}

.profile_phone_email i{
    margin: 0;
    font-size: 20px;
}

.profile_phone_email p{
    font-size: 16px;
}

.profile_membership i,.profile_balance i{
    margin: 0;
    font-size: 26px;
    color: var(--text-color);
}

.profile_membership p,.profile_balance p{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
}


/* Bookings section styles */
.profile_bookings{
    padding: 20px;
}

.profile_bookings_title{
    margin: 0;
    font-weight: 600;
    font-size: 28px;
}

.profile_bookins_main{
    background-color: #fff;
    border-radius: 0 18px 0 0;
    box-shadow: rgba(0,0,0,0.3) 0px 2px 5px 1px;
}

.profile_booking_element{
    height: 300px;
    display: flex;
    gap: 10px;
    position: relative;
}

.profile_booking_element_img{
    height: 100%;
    width: 500px;
}

.profile_booking_element_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.booking_element_main{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px;
}

.booking_element_main p{
    margin: 0;
}

.booking_element_main p span{
   font-weight: 500;
}

.booking_cancel{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Topup section Styles */
.profile_topup_left{
    max-width: 500px;
}

.top-up-title{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.top-up-title span{
    color: var(--primary-color);
}

.top-up-description{
   margin: 0 0 40px 0;
   font-size: 24px;
   font-weight: 500;
}


.top_up_input label{
    font-size: 16px;
    font-weight: 500;
}

.top_up_input input{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: #EDF4FA;
    padding: 5px;
}

.top_up_input input:focus{
    outline: none;
}

.topup_bttn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
}

.topup_img{
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.topup_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Pricing Section Styles */
.profile_pricing{
    position: relative;
    overflow: hidden;
}

.profile_pricing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/images/pricing_back.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.7; 
    z-index: -1; 
}

.profile_pricing_title{
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.profile_pricing_title span{
    color: var(--primary-color);
}

.profile_pricing_subtitle{
    margin: 0;
    font-size: 24px;
    text-align: center;
    max-width: 80%;
}

.profile_pricing_bttn{
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile_pricing_bttn:hover {
    transform: scale(1.05);
}

.profile_pricing_bttn i{
    margin:0;
    font-size: 20px;
}

.profile_pricing_bttn p{
    margin:0;
    font-size: 20px;
}




/* Responsive design for mobiles (small screens) */
@media (max-width: 768px){

    .profile_details{
        padding: 0px 10px;
    }
    
    .profile_img {
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
    
    .profile_img img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .profile_phone_email i{
        font-size: 16px;
    }
    
    .profile_phone_email p{
        font-size: 14px;
    }
    
    .profile_membership i,.profile_balance i{
        font-size: 18px;
    }
    
    .profile_membership p,.profile_balance p{
        font-size: 18px;
    }

    .profile_bookings{
        padding: 16px;
    }

    .profile_bookings_title{
        font-size: 20px;
    }
    
    .profile_booking_element{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding-bottom: 40px;
    }
    
    .profile_booking_element_img{
        height: 100%;
        width: 100%;
    }

    .profile_pricing_subtitle{
        font-size: 20px;  
        max-width: 100%;
    }
    
    .profile_pricing_bttn i{
        font-size: 18px;
    }
    
    .profile_pricing_bttn p{
        font-size: 18px;
    }
}



@media (min-width: 769px) and (max-width: 1200px){
    
    .profile_booking_element_img{
        width: 400px;
    }

}