.header{
    width: 100%;
    background-color: #fff;
    height: 80px;
    padding: 0px 20px;
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}

.header_logo{
    height: 70px;
}

.header_logo img{
    height: 100%;
}

.header_nav_links{
    display: flex;
}

.header_nav_link{
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

.header_nav_link:hover,.header_nav_link.active{
    color: var(--primary-color);
}

.header_right{
    display: flex;
    gap: 20px;
}

.header_logout_bttn,.header_login_bttn,.header_register_bttn{
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

.header_register_bttn{
    background-color: var(--primary-color);
}

.header_register_bttn a, .header_register_bttn a:hover{
    text-decoration: none;
    color: #fff;
}

.header_login_bttn a, .header_login_bttn a:hover{
    text-decoration: none;
    color: #000000;
}

/* Mobile Menu */
.header_mobile_menu{
   background-color: #fff;
   display: none;
}

.header_mobile_menu_logo{
    cursor: pointer;
}

.header_mobile_menu_logo i{
   font-size: 30px;
   margin: 0;
}

.header_mobile_menu_main{
    background-color: #fff;
    position: absolute;
    top: 85px;
    right: 16px;
    left: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.mobile_menu_element{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}


@media (max-width: 800px){
    .header_logo{
        height: 50px;
    }
    .header_mobile_menu{
        display: block;
    }
    .header_nav_links{
        display: none;
    }    
    .header_right{
        display: none;
    }
    
}