/* Bookings section styles */
.profile_bookings{
    padding: 20px;
}

.profile_bookings_title{
    margin: 0;
    font-weight: 600;
    font-size: 28px;
}


@media (max-width: 768px){
    .profile_bookings{
        padding: 16px;
    }

    .profile_bookings_title{
        font-size: 20px;
    }
}

