
/* Left Side Styling */
.register_left {
    padding: 20px;
}

.register_photos{
    display: flex;
    gap: 10px;
}

.register_photos_column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register_photo{
    background-color: rgba(0,0,0,0.1);
}

.register_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}



/* Responsive Design */
@media (max-width: 768px) { 
    .register_left {
        padding: 20px;
    } 
}