.header{
    width: 100%; 
    height: 6rem;
    padding: 10px 0px;
}

.logo-top{
    width: 16rem; 
}

.logo-img{
    width: 100%;
}
.menu{
    margin-bottom: 0;
}

.nav__item{
    max-width: 100px;
    overflow: hidden;
}

.nav__item a{
display: block;
text-decoration: none;
color: var(--heading-color);
font-weight: 500;
font-size: 1.1rem;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden; 
text-overflow: ellipsis; 
}

.nav__item a:hover{
    color: var(--primary-color);
}

.nav__item a.active__link{
    color: var(--secondary-color);
}



.sticky__header{
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}

.mobile__menu{
    font-size: 1.3rem;
    color: var(--heading-color); 
    cursor: pointer;
    display: none;
}

.dropdown__menu{
    background-color:rgba(225,225,225,0.9) ;
    z-index: 3;
    /* width: 12rem; */
    border-radius: 1rem;
    display: inline;
    position: absolute;
    top: 6rem;
    right: 1rem; 
    left: 1rem;
}

.dropdown__menu_close{
    display:none;
}

.dropdown__link{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown__text:hover{
    color:var(--secondary-color);
}


@media (max-width: 775px){
    .navigation{
        display:none;
    }

    .navigation2{
        display: none ;
    }

    .mobile__menu{
        display: block;
    }
}
