.add_tour_card{
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

.add_tour_card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add_tour_card_img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.add_tour_card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.add_tour_desc{
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

